<ion-header>
    <ion-navbar color="primary" *ngIf="!isEmbedded">
        <div class="button__container">
            <button ion-button icon-only menuToggle start>
                <ion-icon name="menu"></ion-icon>
            </button>
        </div>
        <ion-title>Lista degli alberi</ion-title>
    </ion-navbar>
</ion-header>

<div class="container-trees" *ngIf="isEmbedded">
    <div class="spacer" style="flex-basis: 33%;"></div>
    <span class="title" style="flex-basis: 33%;">Ultimi {{numberOfTrees}} alberi aggiornati</span>
    <div class="button__container" style="flex-basis: 33%;">
        <button ion-button (click)="showAllTrees()" type="button" class="button--wide" style="flex-basis: 33%;">
            Mostra tutti
        </button>
    </div>
</div>

<ion-content>
    <ion-item>
        <div style="display: flex; flex-direction: row; gap: 20px; align-content: center; justify-content: center;">
            <h3 style="flex-basis: 30%; font-weight: bold; flex-grow:1; text-align: center;">ID</h3>
            <h3 style="flex-basis: 30%; font-weight: bold; flex-grow:1; text-align: center;">Genere e Specie</h3>
            <h3 style="flex-basis: 30%; font-weight: bold; flex-grow:1; text-align: center;">Data ultimo aggiornamento</h3>
        </div>
    </ion-item>

    <ion-card *ngFor="let tree of (numberOfTrees > 0 ? treeList.slice(0, numberOfTrees) : treeList)"
        (click)="goToDetails(tree)" style="cursor: pointer; padding:10px;">
        <div style="display: flex; flex-direction: row; gap: 20px; flex-wrap: wrap;">
            <div style="flex-basis: 30%; flex-grow: 1;">
                <!-- <h3 style="font-weight: bold;">ID</h3> -->
                <p>{{tree.idPianta}}</p>
            </div>
            <div style="flex-basis: 30%; flex-grow: 1;">
                <!-- <h3 style="font-weight: bold;">Genere e Specie</h3> -->
                <p>{{tree.essenza.genereESpecie}}</p>
            </div>
            <div style="flex-basis: 30%; flex-grow: 1;">
                <!-- <h3 style="font-weight: bold;">Data ultimo aggiornamento</h3> -->
                <p>{{tree.dataUltimoAggiornamento.toLocaleString()}}</p>
            </div>
        </div>
    </ion-card>
</ion-content>