<ion-content>
  <ion-button class="close-button" (click)="closeModal()">
    <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
  </ion-button>
  <zxing-scanner
    [formats]="allowedFormats"
    [enable]="enableScanner"
    [autofocusEnabled]="autofocusEnabled"
    [timeBetweenScans]="timeBetweenScans"
    [previewFitMode]="previewFitMode"
    [tryHarder]="tryHarder"

    (scanSuccess)="capturedQr($event)"
    (scanError)="scanErrorHandler($event)"

    *ngIf="enableScanner"
    style="padding: 15px;">
  </zxing-scanner>
</ion-content>